@import "../src/scss/*";

#qunit, { padding: 1em; }

body.sg {
    width: 50em;
    max-width: 100%;
    margin: auto;
    padding: 1em;
}

.sg-block {
    padding: 1em 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.sg-code { font-family: $font-family-monospace; }
