@import "functions";
@import "global";
@import "reset";
@import "animations";
@import "effects";
@import "button";
@import "entry";

@include exports("base") {
    body {
        background: $light-color;
        color: $dark-color;
        font: #{$font-size}/($font-line-height) $font-family-normal;

        @media #{$mobile-break-point} { font-size: #{$font-size-mobile}; }
    }


    /**
     * Link:
     *
     *     @example
     *     a(href="#") A sample link
     */

    a {
        @extend %snappy;

        color: $link-color;
        text-decoration: none;

        &:link { border-bottom: 1px solid currentColor; }

        &:hover, &:focus { color: darken($link-color, 15%); }

        &:active { color: darken($link-color, 30%); }
    }

    img {
        max-width: 100%;
        height: auto;
    }


    /**
     * Headings:
     * Different levels of headings represent hierarchy in content
     *
     *     @example
     *     h1 Heading 1
     *     h2 Heading 2
     *     h3 Heading 3
     *     h4 heading 4
     */

    h1, h2, h3, h4 {
        font-family: $font-family-headings;
        font-weight: 700;
        margin-top: .2em;
        margin-bottom: .5em;
    }

    h1 { font-size: 1.8em; }

    h2 { font-size: 1.5em; }

    h3 { font-size: 1.2em; }

    h4 { font-size: 1em; }


    /**
     * Paragraph:
     *
     *     @example
     *     p This is just a sample paragraph. Paragraphs can contain multiple sentences.
     */

    p { margin: .5em 0; }


    /**
     * Lists:
     *
     *     @example
     *     h4 Ordered lists
     *     p
     *       ol
     *         li Item 1
     *         li Item 2
     *         li Item 3
     *     h4 Unordered lists
     *     p
     *       ul
     *         li Item 1
     *         li Item 2
     *         li Item 3
     */

    ul, ol { margin: 1em 0 1em 2em; }

    [type="checkbox"], [type="radio"] {
        width: 1.5em;
        height: 1.5em;
    }


    /**
     * Code:
     *
     *     @example
     *     code .code { display: inline; }
     */

    code {
        font-weight: 700;
        font-family: $font-family-monospace;
        line-height: 1.2em;
    }


    /**
     * Preformatted text:
     *
     *     @example:
     *     pre |    1    |    2    |    3    |
     */

    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        padding: 1em;
        margin: 1em 0;
        border-radius: $roundness;
        background-color: darken($light-color, 5%);
    }


    /**
     * Blockquote:
     *
     *     @example:
     *     blockquote Math is easy, design is hard
     */

    blockquote {
        font-size: 1.5em;
        font-style: italic;
        margin: 1em 0;
        padding-left: 1em;
        border-left: 2px solid darken($light-color, 10%);
    }


    /**
     * Horizontal ruler:
     *
     *     @example:
     *     hr
     */

    hr {
        @include opacity(.3);

        border: 0;
        height: 1px;
        margin: 1em 0;
        background-color: currentColor;
    }

    ::selection {
        background-color: $accent-color;
        color: $light-color;
    }

    ::-moz-selection {
        background-color: $accent-color;
        color: $light-color;
    }
}

