@import "functions";
@import "global";
@import "dropshadow";
@import "linked";
@import "animations/transition";


/**
 * Button:
 *
 *     @example
 *     a.button Primary button
 *     a.button.secondary Secondary button
 *     a.button.disabled Disabled button
 *     a.button.working Working
 *     a.button.info Info
 *     a.button.warning Warning
 *     a.button.error Error
 *     a.button.google Google
 *     a.button.googleplus Google+
 *     a.button.twitter Twitter
 *     a.button.facebook Facebook
 *     a.button.persona Persona
 *     a.button.openid OpenID
 *     a.button.primary.flat Primary flat
 *     a.button.secondary.flat Secondary flat
 */

@mixin button($bg: $accent-color, $fg: $light-color) {
    @if (hue($bg) > 0) {
        @include font-smoothing(antialiased); /* Fix blurry text on Mac OS X */
    }

    background-color: $bg;
    color: $fg;

    &:hover, &:focus {
        outline: 0;
        background-color: darken($bg, 5%);
        color: $fg;
    }

    &:active {
        background-color: darken($bg, 10%);
        color: $fg;
    }
}

@include exports("button") {
    @include keyframes(working) {
        0% { background-position: 0 0; }

        100% { background-position: 1em 0; }
    }

    %button {
        @extend %snappy;
        @include dropshadow(1);
        @include button;

        display: inline-block;
        margin: (.5em / .9) 0;
        padding: (.6em/ .9) (1em / .9) (.5em / .9);
        border-radius: $roundness;
        border: 0;
        background-image: none; /* fix background in firefox */
        text-align: center;
        font-size: .9em;
        font-weight: 700;
        cursor: pointer;
        text-transform: uppercase;

        &.secondary {
            background-color: transparent;
            color: currentcolor;

            &:hover, &:focus {
                background-color: rgba(0, 0, 0, .15);
                color: currentcolor;
            }

            &:active {
                background-color: rgba(0, 0, 0, .2);
                color: currentcolor;
            }
        }

        &.disabled {
            &, &:hover, &:focus, &:active {
                background-color: rgba(0, 0, 0, .2);
                color: currentcolor;
                cursor: default;
                pointer-events: none;
                opacity: .75;
                box-shadow: none;
            }
        }

        &.flat { box-shadow: none; }

        &.working {
            @include prefix(animation, working .3s linear infinite);

            background-image: linear-gradient(-45deg, rgba(0, 0, 0, .1) 25%,
                                              transparent 25%,
                                              transparent 50%,
                                              rgba(0, 0, 0, .1) 50%,
                                              rgba(0, 0, 0, .1) 75%,
                                              transparent 75%,
                                              transparent);
            background-size: 1em 1em;

            &, &:hover, &:focus, &:active {
                cursor: wait;
                pointer-events: none;
            }
        }

        &.linked { @extend %linked; }

        $types: (
            info: $info-color,
            success: $success-color,
            warning: $warning-color,
            error: $error-color,
            google: #4285f4,
            googleplus: #d34836,
            twitter: #55acee,
            facebook: #3b5998,
            persona: #e66000,
            openid: #f78c40
        );

        @each $type, $color in $types {
            &.#{$type} { @include button($color, $light-color); }
        }
    }

    .button { @extend %button; }

    button, [type="submit"], [type="button"] {
        @extend %button;

        background-clip: padding-box; /* prevent leaking of background color in Android < 4.4 */
        -webkit-appearance: none; /* reset default styling */

        &:disabled { @extend %button.disabled; }
    }
}
