// scss-lint:disable ColorVariable

// Font settings
$font-family-normal: "Open Sans", "Myriad Pro", Helvetica, Tahoma, "Nimbus Sans", Arial, sans-serif !default;
$font-family-headings: "Open Sans", Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !default;
$font-family-monospace: Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono", "Courier New", monospace !default;
$font-size: 14px !default;
$font-size-mobile: $font-size !default;
$font-line-height: 1.625 !default;

// Colors
$accent-color: #3ca !default;
$dark-color: #444 !default;
$light-color: #fff !default;
$link-color: #5780d3 !default;
$info-color: #4b9ddb !default;
$success-color: #77b267 !default;
$warning-color: #e2a63e !default;
$error-color: #d26c5e !default;

// Icon fonts
$icon-font-path: "../../src/fonts" !default;

// Misc
$roundness: 3px !default;
$mobile-break-point: "only screen and (max-width: 27em)" !default;
