@import "functions";
@import "global";

$icons: (
    add: "\e81e", /* "" */
    arrow-left: "\e841", /* "" */
    arrow-right: "\e840", /* "" */
    asterisk: "\e858", /* "" */
    at: "\e85b", /* "" */
    attach: "\e847", /* "" */
    audio-off: "\e818", /* "" */
    audio: "\e819", /* "" */
    birthday: "\e83a", /* "" */
    bitcoin: "\e861", /* "" */
    block: "\e874", /* "" */
    bookmark: "\e803", /* "" */
    brush: "\e82d", /* "" */
    calendar: "\e808", /* "" */
    camera: "\e82b", /* "" */
    cancel-circled: "\e86a", /* "" */
    cancel: "\e81d", /* "" */
    chart: "\e86f", /* "" */
    chat: "\e875", /* "" */
    checkbox-selected: "\e830", /* "" */
    checkbox: "\e82f", /* "" */
    chrome: "\e807", /* "" */
    clear: "\e81f", /* "" */
    clock: "\e812", /* "" */
    close: "\e83e", /* "" */
    cloud: "\e860", /* "" */
    command: "\e843", /* "" */
    comment: "\e80b", /* "" */
    configure: "\e814", /* "" */
    contact-add: "\e835", /* "" */
    contact: "\e836", /* "" */
    copy: "\e820", /* "" */
    delete: "\e804", /* "" */
    document: "\e809", /* "" */
    done-all: "\e806", /* "" */
    done: "\e83f", /* "" */
    down-big: "\e863", /* "" */
    down-circle: "\e870", /* "" */
    down-open: "\e85c", /* "" */
    download: "\e828", /* "" */
    dropbox: "\e84c", /* "" */
    edit: "\e822", /* "" */
    emoticon: "\e826", /* "" */
    facebook: "\e84a", /* "" */
    firefox: "\e805", /* "" */
    fullscreen: "\e846", /* "" */
    git: "\e84b", /* "" */
    github: "\e84e", /* "" */
    google: "\e859", /* "" */
    gplus: "\e84d", /* "" */
    grid: "\e842", /* "" */
    hamburger: "\e83d", /* "" */
    hash: "\e85a", /* "" */
    heart-empty: "\e821", /* "" */
    heart: "\e81c", /* "" */
    help-circled: "\e869", /* "" */
    history: "\e80f", /* "" */
    home: "\e873", /* "" */
    hot: "\e833", /* "" */
    html5: "\e84f", /* "" */
    ie: "\e815", /* "" */
    image: "\e827", /* "" */
    info-circled: "\e868", /* "" */
    info: "\e810", /* "" */
    instagramm: "\e850", /* "" */
    left-big: "\e864", /* "" */
    left-circle: "\e876", /* "" */
    left-open: "\e85d", /* "" */
    link: "\e87a", /* "" */
    list: "\e879", /* "" */
    lock-open: "\e871", /* "" */
    lock: "\e872", /* "" */
    maximize: "\e81a", /* "" */
    message-open: "\e80d", /* "" */
    message: "\e82a", /* "" */
    minimize: "\e81b", /* "" */
    more-horiz: "\e802", /* "" */
    more: "\e83c", /* "" */
    move: "\e86d", /* "" */

    // FIXME
    // https://github.com/sass/libsass/issues/873
    // notifications-off: "\e837", /* "" */
    // notifications: "\e838", /* "" */

    off: "\e867", /* "" */
    ok-circled: "\e86b", /* "" */
    open-new: "\e811", /* "" */
    opera: "\e80c", /* "" */
    people: "\e800", /* "" */
    pin: "\e86e", /* "" */
    playstore: "\e816", /* "" */
    plugin: "\e80a", /* "" */
    privacy-off: "\e817", /* "" */
    privacy: "\e80e", /* "" */
    quote-left: "\e845", /* "" */
    quote-right: "\e857", /* "" */
    radio-selected: "\e801", /* "" */
    radio: "\e831", /* "" */
    reload: "\e83b", /* "" */
    reply-all: "\e825", /* "" */
    reply: "\e824", /* "" */
    right-big: "\e865", /* "" */
    right-circle: "\e877", /* "" */
    right-open: "\e85e", /* "" */
    rss: "\e862", /* "" */
    search: "\e813", /* "" */
    settings: "\e844", /* "" */
    share: "\e832", /* "" */
    slack: "\e852", /* "" */
    spinner: "\e86c", /* "" */
    stackoverflow: "\e851", /* "" */
    star-empty: "\e82e", /* "" */
    star: "\e82c", /* "" */
    tag: "\e848", /* "" */
    tags: "\e849", /* "" */
    tumblr: "\e853", /* "" */
    twitter: "\e854", /* "" */
    up-big: "\e866", /* "" */
    up-circle: "\e878", /* "" */
    up-open: "\e85f", /* "" */
    upload: "\e829", /* "" */
    vine: "\e855", /* "" */
    web-secure: "\e839", /* "" */
    web: "\e834", /* "" */
    youtube-play: "\e856" /* "" */
);

@include declare-font-face(icons, icons, $icon-font-path);

@mixin ic {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    speak: none;
}

@mixin icon($name) {
    &:before {
        @include ic;

        content: map-get($icons, $name);
    }
}

@include exports("icons") {
    %icon { @include ic; }

    @each $name, $value in $icons {
        %icon-#{$name} {
            @extend %icon;

            content: $value;
        }
    }
}
