@import "functions";
@import "global";
@import "animations";
@import "dropshadow";


/**
 * Modal:
 * A modal can be shown using the jQuery plugin,
 *
 * ```
 * $("<div>").html("<div class='modal-content'>Hello world!</div>").modal()
 * ```
 */

@include exports("modal") {
    .backdrop {
        @extend %fadein;

        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 400;
        background: rgba(0, 0, 0, .8);
    }

    .modal {
        @extend %appear;
        @include dropshadow(3);

        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 27em;
        max-width: 100%;
        z-index: 500;
        overflow: auto;
        background: $light-color;
        border-radius: $roundness;

        @media #{$mobile-break-point} {
            // scss-lint:disable ImportantRule

            @include slideup;

            top: auto;
            left: 0;
            bottom: 0;
            margin-top: 0 !important;
            margin-left: 0 !important;
            min-width: 100%;
            max-height: 100%;
            width: 100%;
            border-radius: 0;
        }

        &-content {
            padding: 2em;

            @media #{$mobile-break-point} { padding: 1.5em; }
        }
    }
}
