@import "functions";
@import "global";
@import "animations";


/**
 * Progressbar:
 * A progressbar can be shown using the jQuery plugin,
 *
 * ```
 * $("<div>").progressbar()
 * ```
 */

@include exports("progressbar") {
    @include keyframes(progressbar) {
        0% { width: 0; }

        10% { width: 30%; }

        30% { width: 50%; }

        40% { width: 70%; }

        100% { width: 80%; }
    }

    .progressbar {
        @extend %transition;

        position: fixed;
        top: 0;
        left: 0;
        height: 2px;
        width: 80%;
        z-index: 900;
        background-color: $accent-color;

        &.loading { @include prefix(animation, progressbar); }
    }
}
