@import "functions";
@import "global";
@import "animations/transition";


/**
 * Radio group:
 *
 *     @example
 *     div.radio-group
 *         label
 *             input(type="radio", name="rg-example")
 *             span John Snow
 *         label
 *             input(type="radio", name="rg-example")
 *             span Daenerys Targaryen
 *         label
 *             input(type="radio", name="rg-example", disabled)
 *             span Hodor
 *         label
 *             input(type="radio", name="rg-example", disabled, checked)
 *             span Melissandre
 */

@include exports("radiogroup") {
    .radio-group {
        margin: .5em 0;

        label {
            display: block;
            padding: .5em;
            cursor: pointer;

            > span:before {
                content: "";
                display: inline-block;
                vertical-align: -.1875em;
                height: 1em;
                width: 1em;
                border-radius: 50%;
                border: 2px solid rgba(0, 0, 0, .5);
                margin-right: 1em;
                transform: scale(1.2);
            }

            > input:checked + span:before {
                border-color: $info-color;
                background-image: radial-gradient(
                                    circle closest-side,
                                    $info-color 0%,
                                    $info-color 50%,
                                    transparent 50%,
                                    transparent 100%);
            }

            > input:disabled + span {
                opacity: .5;
                cursor: default;
            }

            > input:disabled:checked + span:before {
                border-color: rgba(0, 0, 0, .5);
                background-image: radial-gradient(
                                   circle closest-side,
                                   rgba(0, 0, 0, .5) 0%,
                                   rgba(0, 0, 0, .5) 50%,
                                   transparent 50%,
                                   transparent 100%);
            }

            > input { display: none; }
        }
    }
}
