@import "functions";
@import "global";
@import "animations/spin";


/**
 * Spinner:
 *
 *     @example
 *     div.spinner
 */

@mixin spinner($size: 1em) {
    &:before {
        @extend %spin;

        content: "";
        display: inline-block;
        width: $size;
        height: $size;
        margin: 0 1em;
        border-top: 2px solid currentColor;
        border-right: 2px solid transparent;
        border-bottom: 2px solid currentColor;
        border-left: 2px solid transparent;
        border-radius: 50%;
    }
}

@include exports("spinner") {
    .spinner { @include spinner; }
}
