@import "functions";
@import "global";
@import "icons";
@import "animations/transition";


/**
 * Switch:
 *
 *     @example
 *     label.toggle-switch
 *         input(type="checkbox", name="example")
 *         span
 *     label.toggle-switch
 *         input(type="checkbox", name="example", checked)
 *         span
 */

@include exports("toggleswitch") {
    .toggle-switch {
        margin: 1em 0;
        cursor: pointer;

        > span {
            @extend %transition;

            position: relative;
            background-color: rgba(0, 0, 0, .5);
            height: 1.25em;
            width: 3em;
            margin: .5em .25em;
            display: inline-block;
            border-radius: .75em;

            &:before {
                @extend %transition;
                @include dropshadow(2);

                position: absolute;
                top: -.25em;
                left: -.25em;
                content: "";
                display: block;
                height: 1.75em;
                width: 1.75em;
                border-radius: 50%;
                background-color: $light-color;
            }
        }

        > input:checked + span {
            background-color: fade-out($info-color, .5);

            &:before {
                transform: translate3d(1.75em, 0, 0);
                background-color: $info-color;
            }
        }

        > input { display: none; }
    }
}
