@import "../functions";
@import "../easings";

@mixin appearout($args: .3s $easeOutQuad) {
    animation: appearout #{$args};
}

@include exports("animations/appearout") {
    @include keyframes(appearout) {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        50%  { transform: scale(1); }

        100% {
            transform: scale(.5);
            opacity: 0;
        }
    }

    %appearout { @include appearout; }
}
