@import "../functions";
@import "../easings";

@mixin appearin($args: .3s $easeInQuad) {
    animation: appearin #{$args};
}

@include exports("animations/appearin") {
    @include keyframes(appearin) {
        0% {
            transform: scale(.5);
            opacity: 0;
        }

        50%  { transform: scale(1); }

        100% { opacity: 1; }
    }

    %appearin { @include appearin; }
}
