@import "../functions";
@import "../easings";

@mixin sliderightout($args: .3s $easeInSine) {
    animation: sliderightout #{$args};
}

@include exports("animations/sliderightout") {
    @include keyframes(sliderightout) {
        0% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }

        100% {
            transform: translate3d(15%, 0, 0);
            opacity: 0;
        }
    }

    %sliderightout { @include sliderightout; }
}
