@import "../functions";
@import "../easings";

@mixin slidedownin($args: .3s $easeInSine) {
    animation: slidedownin #{$args};
}

@include exports("animations/slidedownin") {
    @include keyframes(slidedownin) {
        0% {
            transform: translate3d(0, -15%, 0);
            opacity: 0;
        }

        100% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    %slidedownin { @include slidedownin; }
}
